.top-nav {
    background-color: #e6d5b8
}

.help-btn {
    background-color: #fff;
    border-radius: 15px;
    font-weight: 700;
    font-size: 1.02rem
}

.help-btn:hover {
    background-color: #1b1a17;
    color: #fff
}

#google_translate_element.hidden {
    display: none
}

#google_translate_element.show-translation {
    display: inline-block
}

.social-btn i {
    color: #444;
    cursor: pointer
}

.facebook:hover,
.linkedin:hover,
.twitter:hover {
    color: #0054fd
}

.social-btn .instagram:hover {
    color: #aa34b3
}

.social-btn .github:hover {
    color: #000
}

button.navbar-toggler {
    border: none;
    outline: 0
}

.animated-icon1,
.animated-icon2,
.animated-icon3 {
    width: 30px;
    height: 20px;
    position: relative;
    margin: 0;
    -webkit-transform: rotate(0);
    -moz-transform: rotate(0);
    -o-transform: rotate(0);
    transform: rotate(0);
    -webkit-transition: .5s ease-in-out;
    -moz-transition: .5s ease-in-out;
    -o-transition: .5s ease-in-out;
    transition: .5s ease-in-out;
    cursor: pointer
}

.animated-icon1 span,
.animated-icon2 span,
.animated-icon3 span {
    display: block;
    position: absolute;
    height: 3px;
    width: 100%;
    border-radius: 9px;
    opacity: 1;
    left: 0;
    -webkit-transform: rotate(0);
    -moz-transform: rotate(0);
    -o-transform: rotate(0);
    transform: rotate(0);
    -webkit-transition: .25s ease-in-out;
    -moz-transition: .25s ease-in-out;
    -o-transition: .25s ease-in-out;
    transition: .25s ease-in-out
}

.animated-icon1 span {
    background: #e3f2fd
}

.animated-icon1 span:nth-child(1) {
    top: 0
}

.animated-icon1 span:nth-child(2) {
    top: 10px
}

.animated-icon1 span:nth-child(3) {
    top: 20px
}

.animated-icon1.open span:nth-child(1) {
    top: 11px;
    -webkit-transform: rotate(135deg);
    -moz-transform: rotate(135deg);
    -o-transform: rotate(135deg);
    transform: rotate(135deg)
}

.animated-icon1.open span:nth-child(2) {
    opacity: 0;
    left: -60px
}

.animated-icon1.open span:nth-child(3) {
    top: 11px;
    -webkit-transform: rotate(-135deg);
    -moz-transform: rotate(-135deg);
    -o-transform: rotate(-135deg);
    transform: rotate(-135deg)
}

.main-nav {
    transition: all .5s
}

.fixed-top {
    transition: all .5s
}

div.show {
    height: 110vh;
    text-align: center
}

.dropdown-menu[data-bs-popper] {
    left: -45px;
    margin-top: .35rem;
    color: #fff;
    background-color: #212529
}

.dropdown-item {
    color: #fff
}

.dropdown-item:hover {
    background-color: #fff;
    color: #212529
}

.navbar-search {
    background-color: transparent;
    position: relative;
    width: 30%;
    outline: #fff;
    border: 1px solid #fff;
    border-radius: 20px;
    border-right: none;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
    position: relative;
    transition: .9s ease-in-out
}

.navbar-search-btn {
    background-color: transparent;
    outline: #fff;
    color: #fff;
    border: 1px solid #fff;
    border-radius: 20px;
    border-left: none;
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
    position: static;
    margin-left: -8px
}

.navbar-search-btn:hover,
.navbar-search:hover {
    background-color: transparent;
    color: #fff;
    outline: #fff;
    border-color: #fff
}

.navbar-search:hover {
    width: 50%
}

a.show::after {
    transform: rotate(180deg)
}

.searchbar {
    position: relative;
    width: 50%;
    background: 0 0;
    padding: 12px;
    border-color: #e6d5b8;
    border-right: none;
    border-top-left-radius: 25px;
    border-bottom-left-radius: 25px;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
    transition: .9s ease-in-out
}

.searchbar-btn {
    position: static;
    margin-left: -8px;
    border: none;
    color: #000;
    z-index: 2;
    background-color: #e6d5b8;
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
    border-top-right-radius: 25px;
    border-bottom-right-radius: 25px
}

.searchbar:focus {
    color: #000;
    border-color: #e6d5b8;
    width: 100%
}

.searchbar-btn:active,
.searchbar-btn:focus-visible,
.searchbar-btn:hover {
    background: #e6d5b8;
    color: #000;
    border: none
}

.search-page-btn {
    background: #a370f0;
    color: #fff;
    font-family: inherit;
    padding: .35em;
    padding-left: 1.2em;
    font-size: 17px;
    font-weight: 500;
    border-radius: .9em;
    border: none;
    letter-spacing: .05em;
    display: flex;
    align-items: center;
    box-shadow: inset 0 0 1.6em -.6em #714da6;
    overflow: hidden;
    position: relative;
    height: 2.8em;
    padding-right: 3.3em
}

.search-page-btn .icon {
    background: #fff;
    margin-left: 1em;
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 2.2em;
    width: 2.2em;
    border-radius: .7em;
    box-shadow: .1em .1em .6em .2em #7b52b9;
    right: .3em;
    transition: all .3s
}

.search-page-btn:hover .icon {
    width: calc(100% - .6em)
}

.search-page-btn .icon svg {
    width: 1.1em;
    transition: transform .3s;
    color: #7b52b9
}

.search-page-btn:hover .icon svg {
    transform: translateX(.1em)
}

.search-page-btn:active .icon {
    transform: scale(.95)
}

.login-btn {
    border-radius: 25px;
    color: #1b1a17;
    background-color: #e6d5b8
}

.login-btn:hover {
    color: #fff;
    background-color: #1b1a17
}

.slick-dots {
    bottom: 0
}

.slick-dots li button:before,
.slick-dots li.slick-active button:before {
    font-size: .8rem;
    color: red
}

.subject-banner .btn {
    width: fit-content;
    margin: auto
}

.odd-banner .shadow-lg {
    box-shadow: 0 0 3rem rgba(255, 0, 0, .175) !important
}

.even-banner .shadow-lg {
    box-shadow: 0 0 3rem #ffd000 !important
}

.card-color {
    border-left: 10px solid #00f;
    background-color: #fff;
    outline: 0;
    color: #000
}

.subject-cards {
    background-color: #eaeaea;
    padding-top: 3rem;
    padding-bottom: 3rem
}

.subject-footer-section {
    background: url(../images/strangecontact.png) no-repeat;
    background-size: cover
}

.subject-list-item {
    border: none;
    background: 0 0;
    color: #000;
    font-weight: 600
}

.list-group-item {
    border: none;
    background-color: transparent
}

.color-black {
    color: #000
}

.bg-color {
    background-color: #ff7644
}

.bg-color-black {
    background-color: #000
}

.color-white {
    color: #fff
}

.bg-color-white {
    background-color: #fff
}

@media only screen and (max-width:1024px) {
    .subject-banner div.ratio {
        margin-top: 1rem;
        margin-bottom: 1rem
    }
}

@media only screen and (max-width:768px) {
    .subject-banner div.ratio {
        margin-top: 3rem;
        margin-bottom: 3rem
    }

    .subject-footer-section {
        background: url(../images/strangecontact2.png) no-repeat;
        background-size: cover;
        background-position: center
    }
}

@media only screen and (max-width:425px) {
    .subject-banner div.ratio {
        margin: auto
    }

    .subject-footer-section {
        display: none
    }

    .quick-link {
        margin: auto !important;
        padding-top: 2%
    }
}

.light-mode {
    display: none
}

.dark-mode {
    display: block
}

#goToTop {
    display: none !important;
    bottom: 50px !important
}

a#scrollTop {
    display: none !important;
    bottom: 50px !important
}

a#go_to_top:hover:after {
    transform: scale(1)
}

#go_to_top:hover i {
    transform: translate(0, -39px) !important
}

#go_to_top i {
    line-height: 39px !important;
    width: 39px !important;
    height: 39px !important;
    font-size: 16px !important;
    top: 0 !important;
    left: 0 !important;
    text-align: center !important;
    position: relative;
    z-index: 10;
    background-color: transparent !important;
    transform: translate(0, 0);
    transition: transform .5s ease
}

#go_to_top {
    opacity: 1;
    position: fixed;
    text-align: center;
    line-height: 12px !important;
    right: 137px;
    bottom: 50px !important;
    color: #fff;
    cursor: pointer;
    border-radius: 100px;
    z-index: 999;
    height: 40px;
    width: 40px;
    background-color: rgba(0, 0, 0, .25);
    background-repeat: no-repeat;
    background-position: center;
    transition: opacity .5s, bottom .9s, box-shadow .3s cubic-bezier(.55, 0, .1, 1), background-color .2s linear;
    background-color: rgba(0, 0, 0, .25) !important;
    overflow: hidden
}

#go_to_top:after,
#go_to_top:before {
    display: block;
    content: ' ';
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
    background-color: #332fff;
    transform: scale(0);
    transition: all .5s cubic-bezier(.55, 0, .1, 1);
    border-radius: 100px
}

#go_to_top:hover {
    transition: box-shadow .5s cubic-bezier(.55, 0, .1, 1), background-color 50ms linear .25s;
    background-color: transparent !important
}

#goToTop {
    bottom: 42px !important
}

.nav-link {
    cursor: pointer;
}